
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.comment{
background-color: aliceblue;
border: 1px solid black;
display: flex;
flex-direction: column;
padding: 1em;
margin: 1em;
}
.user{
display: flex;
gap: 1em;
}
.replies{
  display: flex;
  flex-direction: column;
  
}
.reply{
  background-color: aliceblue;
  width: 90%;
  align-self: flex-end;
  border: 1px solid black;
  padding: 1em;
}